# Задание 1

In [1]:
import pandas as pd

In [2]:
file_path_1 = '/Users/alexeylyubeznyy/Documents/Магистратура/МФТИ/Advanced Python/5. Pandas/Файлы к заданию №1/ratings.csv'
ratings = pd.read_csv(file_path_1)

file_path_2 = '/Users/alexeylyubeznyy/Documents/Магистратура/МФТИ/Advanced Python/5. Pandas/Файлы к заданию №1/movies.csv'
movies = pd.read_csv(file_path_2)

In [25]:
ratings.columns = ratings.columns.str.lower()
movies.columns = movies.columns.str.lower()

In [26]:
ratings.head()

   userid  movieid  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [27]:
movies.head()

,movieid,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [47]:
pivot_5 = pd.pivot_table(ratings, index='movieid', values='timestamp', columns='rating', aggfunc='count', sort=True)[5.0]

In [50]:
pivot_5.head() # количество оценок 5.0 для каждого фильма

movieid
1    47.0
2     7.0
3     6.0
4     NaN
5     3.0
Name: 5.0, dtype: float64

In [53]:
pivot_5.sort_values(ascending=False)

movieid
318       153.0
296       123.0
356       116.0
2571      109.0
260       104.0
          ...
193581      NaN
193583      NaN
193585      NaN
193587      NaN
193609      NaN
Name: 5.0, Length: 9724, dtype: float64

In [78]:
target_id = pivot_5.idxmax() #найдем id фильма с максимальным количеством оценок 5.0

movies.query('movieid == {}'.format(target_id))

     movieid                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama